<div id="<%= dom_id job_application %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Apply date:</strong>
    <%= job_application.apply_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Company name:</strong>
    <%= job_application.company_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Company info:</strong>
    <%= job_application.company_info %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Job role:</strong>
    <%= job_application.job_role %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Job description:</strong>
    <%= job_application.job_description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Source:</strong>
    <%= job_application.source %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Cover letter:</strong>
    <%= job_application.cover_letter %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Resume:</strong>
    <%= job_application.resume %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this job application", job_application, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this job application', edit_job_application_path(job_application), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
